.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 15px 0;
    padding: 5px;
    background-color: rgb(17, 17, 17);

    // .back-next {
    //     .btn {
    //         width: 40px;
    //         height: 40px;
    //         background: gray;
    //         border-radius: 50%;
    //         cursor: pointer;
    //         margin-top: 5px;
    //         color: white;
    //         margin-left: 5px;

    //         &:hover {
    //             background-color: blue;
    //             opacity: 0.5;
    //             transition: 1s;
    //         }
    //     }
    // }

    .category-list {
        position: relative;

        #showCategoryBtn {
            border-radius: 5px;
            background-color: gray;
            border: none;
            color: inherit;
            font-size: 1.1em;

            &:hover {
                background-color: inherit;
            }
        }

        #CategoryList {
            position: absolute;
            top: 35px;
            left: 0;
            width: 400px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            background-color: #ccc;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 1000;

            .CategoryItem {
                padding: 10px;
                background-color: rgba(17, 17, 17, 0.8);
                text-align: center;

                &:hover {
                    background-color: rgb(17, 17, 17);
                }
            }

            &.hidden {
                display: none;
            }
        }
    }

    .h1 {
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    .account button {
        width: 100px;
        align-items: center;

        &:hover {
            background-color: black;
        }
    }

    .account-login {
        border: 3px solid white;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        .account-info {
            background-color: gray;
            border-radius: 5px;
            position: absolute;
            top: 70px;
            right: 15px;
            z-index: 1;
            cursor: pointer;
        }

        .change-password,
        .log-out {
            width: 100%;

            &:hover {
                background-color: blue;
            }
        }
    }
}

.result {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
}

.header-search {
    width: 473px;
    margin: 0 5px;

    .input-group {
        display: flex;
        align-items: center;

        .form-control {
            width: 100%;
            max-width: 400px;
            transition: width 0.3s ease;
        }

        input[type="text"],
        .result {
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
        }

        @media (max-width:300px) {

            .form-control,
            .input-group input[type="text"] {
                max-width: 100px;
            }
        }
    }
}


/* Formatting result items */
.result p {
    width: 100%;
    color: black;
    background-color: white;
    margin: 0;
    padding: 7px 10px;
    border: 1px solid gray;
    border-top: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: gray;
        color: white;
    }
}


.login,
.sign-up,
.form-change-password{
    position: absolute;
    border-radius: 5px;
    color: white;
    background-color: rgb(17, 17, 17);
    // backdrop-filter: blur(3px);
    left: 0;
    right: 0;
    width: 350px;
    padding: 40px;
    margin: 0 auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-group {
        width: 100%;
        margin-bottom: 20px;
        position: relative;

        label {
            font-size: 0.8em;
        }

        input {

            width: 100%;
            padding: 5px;
            border: 2px solid #333;
            border-radius: 5px;
            outline: none;
            background-color: #000;
            color: #fff;
            transition: outline 0.3s ease-in-out;

            &:focus {
                outline: 2px solid white;
            }
        }
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #333;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: rgb(136, 176, 231);
        }
    }
}

.form-change-password{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: rgb(17, 17, 17);
 
}

// .musicForm {
//     display: block;
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     width: 300px;
//     transform: translate(-50%, -50%);
//     padding: 20px;
//     backdrop-filter: blur(3px);
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     z-index: 1000;
// }

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}