.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 15px 0;
    padding: 5px;
    background-color: rgb(17, 17, 17);

    .back-next {
        .btn {
            width: 40px;
            height: 40px;
            background: gray;
            border-radius: 50%;
            cursor: pointer;
            margin-top: 5px;
            color: white;
            margin-left: 5px;

            &:hover {
                background-color: blue;
                opacity: 0.5;
                transition: 1s;
            }
        }
    }

    .h1 {
        text-decoration: none;

        &:hover {
            color: white;
        }
    }

    .account button {
        width: 100px;
        align-items: center;
        &:hover {
            background-color: black;
        }
    }

    .account-login {
        border: 3px solid white;
        border-radius: 50%;

        .account-info {
            background-color: gray;
            border-radius: 5px;
            position: absolute;
            top: 70px;
            right: 15px;
            z-index: 1;
            cursor: pointer;
        }

        .change-password,
        .log-out {
            width: 100%;

            &:hover {
                background-color: blue;
            }
        }
    }
}

.form-change-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.result {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
}

.header-search {
    width: 473px;
    margin: 0 5px;

    .input-group {
        display: flex;
        align-items: center;

        .form-control {
            width: 100%;
            max-width: 400px;
            transition: width 0.3s ease;
        }

        input[type="text"],
        .result {
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
        }

        @media (max-width:300px) {

            .form-control,
            .input-group input[type="text"] {
                max-width: 100px;
            }
        }
    }
}


/* Formatting result items */
.result p {
    width: 100%;
    color: black;
    background-color: white;
    margin: 0;
    padding: 7px 10px;
    border: 1px solid gray;
    border-top: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: gray;
        color: white;
    }
}


.login {
    position: absolute;
    color: white;
    backdrop-filter: blur(3px);
    left: 0;
    right: 0;
    width: 500px;
    padding: 50px;
    margin: 0 auto;
    z-index: 1;

    input {
        margin-top: 10px;
    }

    .login-button {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}