.menu {
    .list-music {
        overflow-y: scroll;
        max-height: 600px;

        // .items {
        //     display: flex;
        //     flex-wrap: wrap;
        //     text-align: center;
        //     padding: 10px;
        //     height: 100%;
        //     border-radius: 15px;
        // }
        .items {
            display: grid;
            max-width: 100%;
            margin: 0 auto;
            grid-template-columns: repeat(auto-fit, 235px);
            .item {
                border-radius: 15px;
                cursor: pointer;
                height: auto;
                width: 225px;
                margin: 15px 0;
                padding: 15px;
                gap: 2rem;
                &:hover {
                    background-color: rgb(38, 38, 38);
                }
                .name-info {
                    display: inline;
                    align-items: center;
                }
                p{
                    color: rgb(190, 182, 182);
                    font-size: .9em;
                }
            }
        }


    }

}

body {
    color: rgb(190, 182, 182);
    background-color: black;
}