img {
  -o-object-fit: cover;
     object-fit: cover;
}

.playmusic {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
}

.music .container {
  display: flex;
}
.music .container .box-disk {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  background: no-repeat center;
  background-size: cover;
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}
.music .container .box-disk.play {
  animation-play-state: running;
}
.music .container .box-disk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
}
.music .container .title {
  width: 80%;
  margin-left: 5%;
}
.music .container .title .current-time,
.music .container .title .music-time,
.music .container .title .current-artist,
.music .container .title .current-view {
  font-size: 15px;
}
.music .container .title .music-time {
  position: absolute;
  float: left;
  right: 70px;
}
.music .container .title .current-music {
  font-size: 20px;
}
.music .container .title .current-music,
.music .container .title .current-artist,
.music .container .title .current-view {
  display: flex;
  justify-content: center;
}
.music .container .title .seek-bar {
  width: 100%;
  height: 10px;
  border-radius: 15px;
  background: grey;
  cursor: pointer;
  -webkit-appearance: none;
  overflow: hidden;
}
.music .container .title .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 5px;
  background: white;
  box-shadow: -1000px 0 0 1000px white;
}
.music .container .title .controls {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.music .container .title .controls .btn-control {
  display: inherit;
  align-items: center;
  gap: 20px;
}
.music .container .title .controls .btn-control .btn-play {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
  border: none;
}
.music .container .title .controls .btn-control .btn-play:hover {
  background-color: gray;
  opacity: 0.5;
  transition: 1s;
}
.music .container .title .controls .btn-control .btn-play span {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translateY(-50);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: white;
  transition: 0.5s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.music .container .title .controls .btn-control .btn-play span:nth-child(2) {
  left: 55%;
  transform-origin: center;
}
.music .container .title .controls .btn-control .btn-play.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}
.music .container .title .controls .btn-control .btn-play.pause span:nth-child(1) {
  width: 35%;
  top: 47%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}
.music .container .title .controls .btn-control .btn {
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  position: relative;
}
.music .container .title .controls .btn-control .btn:hover {
  background-color: black;
  opacity: 0.5;
  transition: 1s;
}
.music .container .title .controls .btn-control .btn-random.active::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.music .container .title .controls .btn-control .volume-container {
  position: relative;
  display: inline-block;
  width: 40px;
}
.music .container .title .controls .btn-control .volume-container .volume-button {
  background: none;
  border: none;
  font-size: 24px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.music .container .title .controls .btn-control .volume-container .volume-button i {
  font-size: 24px;
}
.music .container .title .controls .btn-control .volume-container .volume-slider {
  position: absolute;
  top: 25%;
  left: 100%;
  width: 70px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.music .container .title .controls .btn-control .volume-container .volume-slider:hover {
  opacity: 1;
  visibility: visible;
}
.music .container .title .controls .btn-control .volume-container:hover .volume-slider {
  opacity: 1;
  visibility: visible;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.music-slider {
  background-color: gray;
  border-radius: 5px;
  left: 45%;
  top: 75%;
  position: fixed;
  height: auto;
  width: 310px;
  padding: 0 5px;
  z-index: 1001;
}
.music-slider .seek-bar {
  width: 100%;
  height: 5px;
  border-radius: 15px;
  background: black;
  cursor: pointer;
  -webkit-appearance: none;
  overflow: hidden;
}
.music-slider .seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 5px;
  background: white;
  box-shadow: -400px 0 0 400px white;
}
.music-slider .current-time,
.music-slider .music-time,
.music-slider .current-artist {
  font-size: 15px;
}
.music-slider .music-time {
  position: absolute;
  float: left;
  right: 5px;
}
.music-slider .current-music {
  font-size: 20px;
}
.music-slider .current-music,
.music-slider .current-artist {
  display: flex;
  justify-content: center;
}
.music-slider .controls-mini {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.music-slider .controls-mini .btn-control {
  display: inherit;
  align-items: center;
  gap: 5px;
}
.music-slider .controls-mini .btn-control .btn-play {
  position: relative;
  margin: 5px 0 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
  border: none;
}
.music-slider .controls-mini .btn-control .btn-play:hover {
  background-color: black;
  opacity: 0.5;
  transition: 1s;
}
.music-slider .controls-mini .btn-control .btn-play span {
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translateY(-50);
  width: 8px;
  height: 20px;
  border-radius: 2px;
  background: white;
  transition: 0.5s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.music-slider .controls-mini .btn-control .btn-play span:nth-child(2) {
  left: 55%;
  transform-origin: center;
}
.music-slider .controls-mini .btn-control .btn-play.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}
.music-slider .controls-mini .btn-control .btn-play.pause span:nth-child(1) {
  width: 35%;
  top: 47%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}
.music-slider .controls-mini .btn-control .btn {
  width: 30px;
  height: 30px;
  background: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
  color: white;
  position: relative;
}
.music-slider .controls-mini .btn-control .btn:hover {
  background-color: black;
  opacity: 0.5;
  transition: 1s;
}
.music-slider .controls-mini .btn-control .btn-random.active::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.music-slider .controls-mini .btn-control .volume-container {
  position: relative;
  display: inline-block;
  width: 40px;
}
.music-slider .controls-mini .btn-control .volume-container .volume-button {
  background: none;
  border: none;
  font-size: 24px;
  transform: rotate(-90deg);
  cursor: pointer;
}
.music-slider .controls-mini .btn-control .volume-container .volume-button i {
  font-size: 24px;
}
.music-slider .controls-mini .btn-control .volume-container .volume-slider {
  position: absolute;
  top: -35px;
  left: -3px;
  transform: rotate(-90deg);
  width: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.music-slider .controls-mini .btn-control .volume-container .volume-slider:hover {
  opacity: 1;
  visibility: visible;
}
.music-slider .controls-mini .btn-control .volume-container:hover .volume-slider {
  opacity: 1;
  visibility: visible;
}

.contact {
  display: flex;
  position: relative;
}
.contact .btn {
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.contact .btn:hover {
  color: red;
  transition: 1s;
}
.contact .favorite {
  color: white;
}
.contact .favorited {
  color: red;
}
.contact .favorited .button-clicked {
  background-color: blue;
}
.contact #list {
  position: absolute;
  left: 8%;
  top: 30%;
  background-color: white;
  color: black;
  width: 150px;
  padding: 0;
  z-index: 1;
}
.contact #list .items-list {
  color: black;
  border: none;
  background-color: inherit;
  text-align: left;
  margin: 0px;
  width: 100%;
}
.contact #list .items-list:hover {
  background-color: gray;
}
.contact .material-icons {
  color: rgb(190, 182, 182);
}
.contact button {
  color: black;
  border: none;
  background-color: inherit;
}
.contact .itemslist {
  border-radius: 10px;
  margin: 5px 0;
  padding-left: 5px;
}
.contact .itemslist:hover {
  background-color: gray;
}

.addmusic,
.addlist {
  color: white;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  top: 20%;
  left: 0px;
  right: 0px;
  width: 600px;
  padding: 50px;
  margin: 0px auto;
}

.recommendation-item {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 60px;
  padding: 5px 0;
  margin: 5px 5px 0 15px;
  position: relative;
}
.recommendation-item img {
  margin-right: 10px;
}
.recommendation-item div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.recommendation-item div h5,
.recommendation-item div p {
  margin: 0;
}
.recommendation-item:hover {
  text-decoration: none;
  color: inherit;
  background-color: rgba(17, 17, 17, 0.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.recommendation-item .song-view {
  position: absolute;
  left: 75%;
  transform: translateX(-50%);
  margin-left: 0;
}

.artists #artistList {
  display: flex;
  align-items: center;
}
.artists #artistList img {
  border-radius: 50%;
}
.artists #artistList .artist-item {
  opacity: 0.8;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding-left: 10px;
}/*# sourceMappingURL=playmusic.css.map */