.list-library {
    display: flex;
    flex-direction: column;
    width: 100%;

    .items-list {
        display: flex;
        width: 100%;
    }

    .item-list {
        padding: 10px 10px;
        white-space: nowrap;
    }

    .stt {
        width: 100px;
    }

    .name {
        flex-grow: 1;
    }

     .artist {
        width: 40%;
    }

    .play,
    .remove,.playMusic {
        width: 100px;
        cursor: pointer;
    }
}