.menu {
    .list-music {
        .items {
            display: flex;
            flex-wrap: wrap;
        }
        .item {
            text-align: center;
            padding: 10px;
            height: 100%;
            width: 20%;
            float: left;
            border-radius: 15px;
            &:hover {
                background-color: rgb(38, 38, 38);
            }
        }
    }

}